---
layout: shell.njk
title: Kohana AI
---

    {{ content | safe }}

    <section id="get-in-touch">
        <div class="columns is-centered has-text-centered pt-10 pb-10 has-background-dark">
            <div class="column is-8">
                <h2 class="is-size-1 has-text-light">Interested in working with us?</h2><br>
                <p class="subtitle">
                    <a href="/work-with-us" class="button is-primary">→ Get In Touch</a>
                </p>
            </div>
        </div>
    </section>