---
layout: shell.njk
title: Kohana AI
---

    {{ content | safe }}

    <section id="get-in-touch">
        <div class="intro column is-8 is-offset-2 has-text-centered pt-6 pb-6">
            <h2 class="title">Interested in working with us?</h2><br>
            <p class="subtitle">
                <a href="/work-with-us" class="button is-primary">→ Get In Touch</a>
            </p>
        </div>
    </section>