.hero .title {
    color: #fcfcfc;
    background-color: #1d1d1d;
    padding: 5px 10px 5px 26px;
    font-size: 6rem;
}

.hero .subtitle {
    color: #fcfcfc;
    background-color: #1d1d1d;
    padding: 5px 10px 5px 26px;
}

.hero
{
    background-image: url('/assets/images/geo-hero.jpeg');
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
}

a.navbar-item:hover 
{
    text-decoration: underline;
    text-underline-offset: 6px;
}

.content ol li,
.content p {
    font-size: 1.2em;
}

.is-size-massive
{
    font-size: 6rem;
}

.pt-10
{
    padding-top: 10rem;
}

.pb-10
{
    padding-bottom: 10rem;
}