---
layout: layout.njk
title: Kohana AI - Home
---

<!-- Hero -->
<section class="hero is-large">
    <div class="hero-body">
        <p class="title is-size-1-mobile">
        The Digital Collective Accelerating AI Innovation
        </p>
        <p class="subtitle">
        Delivering World-Class AI Expertise for Unparalleled Business Advancement
        </p>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h3 class="title">Build embedded support chatbots</h3>
                <a href="#" class="link">Learn More</a>
            </div>

            <div class="column is-one-quarter">
                <h3 class="title">Fine-Tuning LLMs for your business</h3>
                <a href="#" class="link">Learn More</a>
            </div>

            <div class="column is-one-quarter">
                <h3 class="title">Support Natural Language searching</h3>
                <a href="#" class="link">Learn More</a>
            </div>

            <div class="column is-one-quarter">
                <h3 class="title">Host your own private LLM for sensitive data</h3>
                <a href="#" class="link">Learn More</a>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="section" id="our-mission">
    <div class="intro column is-8 is-offset-2 has-text-centered">
        <h2 class="title is-2 has-text-centered">Our Mission</h2><br>
        <p class="subtitle">Kohana AI is dedicated to providing top-notch artificial intelligence solutions to businesses and organizations worldwide. We believe in innovation, creativity, and the power of technology to transform the world.</p>
    </div>
</section>

<hr>

    <!-- Our Work -->
<section class="section" id="our-work">
    <div class="container">
        <h2 class="title is-2 has-text-centered">Our Work</h2>
        <div class="columns is-vcentered mt-6">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/assets/images/geo1.jpg">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="title is-1 block">Optimizing Logistics for Global eCommerce Giant</div>
                <div class="block">Supply Chain / Route Optimization / Predictive Analysis</div>
                <p class="block">Kohana AI partnered with a global eCommerce leader to enhance its supply chain efficiency. By implementing advanced machine learning algorithms and predictive analysis, we transformed their logistics and route optimization, reducing delivery times by 20% and improving overall customer satisfaction.</p>
                <a class="block button is-outlined" href="#">View Case Study →</a>
            </div>
        </div>

        <div class="columns is-vcentered mt-6 is-flex-direction-row-reverse">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/assets/images/geo3.jpg">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="title is-1 block">Revolutionizing Customer Support with AI-Powered Chatbots</div>
                <div class="block">Natural Language Processing / Customer Service / Chatbot Integration / Cost Reduction</div>
                <p class="block">Kohana AI was engaged by a major telecommunications company to improve its customer support experience. We designed and deployed AI-powered chatbots using Natural Language Processing techniques, resulting in a 40% reduction in support staff costs and a significant improvement in customer satisfaction.</p>
                <a class="block button is-outlined" href="#">View Case Study →</a>
            </div>
        </div>
    </div>
</section>

<!-- Our Services -->
<section class="section" id="our-services">
    <div class="container">
        <h2 class="title is-2">Our Services</h2>
        <div class="columns">
            <!-- Service 1 -->
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/assets/images/geo4.jpg" alt="Service 1">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">AI Strategy Consulting</p>
                        <p class="subtitle">We offer AI strategy consulting to help businesses identify opportunities and develop a roadmap for AI implementation.</p>
                    </div>
                </div>
            </div>
            <!-- Service 2 -->
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/assets/images/service-2.jpeg" alt="Service 2">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">Custom Machine Learning Models</p>
                        <p class="subtitle">Our skilled data scientists design, train, and implement custom machine learning models tailored to your business needs. </p>
                    </div>
                </div>
            </div>
            <!-- Service 3 -->
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/assets/images/service-3.jpeg" alt="Service 3">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">AI Integration & Deployment</p>
                        <p class="subtitle">Kohana AI's team of engineers ensures seamless integration of AI solutions into your existing systems and workflows.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>